@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@700&display=swap"); /*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-closed {
  display: none;
}
@media screen and (min-width: 768px) {
  .is-closed {
    display: block;
  }
}

.no-transparency {
  background-color: rgba(25, 28, 38, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.button-send, .button-prices, .button-order--about, .button-order--mob {
  width: 160px;
  height: 40px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  font-weight: 700;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.join-me__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

html,
body {
  background-color: #FFFFFF;
  color: #303030;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.36;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.icon, .contacts__icon {
  fill: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section, .contacts, .reg, .facts, .team, .benefits, .prices, .about, .hero {
  outline: 1px dashed green;
}

.section__title, .contacts__title, .reg__title, .team__title, .benefits__title, .prices__title, .about__title {
  font-family: "Raleway", sans-serif;
  margin-top: 20px;
  font-size: 42px;
  font-weight: 700;
  color: #303030;
  line-height: 1.17;
  letter-spacing: 0.05em;
  text-align: left;
}

.container, .footer__container, .contacts__time, .contacts__main, .reg__container, .facts__container, .team__container, .benefits__container, .prices__container, .about__container, .hero__container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 84px;
  padding-bottom: 84px;
  padding-left: 31px;
  padding-right: 31px;
  max-width: 480px;
  outline: 1px dashed blue;
}

.text, .benefits__text, .about__text, .hero__text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.label, .contacts__label, .facts__label, .team__label, .benefits__label, .prices__label, .about__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1.36;
}

.icon, .contacts__icon {
  fill: currentColor;
}

.social__list, .social__list--mob {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.social__item, .social__item--mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item:first-child::before, .social__item--mob:first-child::before {
  content: "";
  width: 60px;
  height: 1px;
  display: inline-block;
  background-color: #303030;
}

.social__link, .social__link--mob {
  margin-left: 40px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.2em;
  color: #303030;
  text-decoration: none;
  -webkit-transition: color;
  transition: color;
}
.social__link:hover, .social__link--mob:hover, .social__link:focus, .social__link--mob:focus {
  color: #FF6C00 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  z-index: 200;
}

.logo {
  display: inline-block;
  position: relative;
  left: 31px;
  fill: #ffffff;
}

.mobile-menu-button {
  position: absolute;
  padding: 0;
  top: 46px;
  right: 39px;
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  pointer-events: initial;
}

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 337px;
  height: 100vh;
  padding: 50px 41px;
  background-color: #FFFFFF;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
}
.backdrop.is-open .mobile-menu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-close-button {
  display: block;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.nav__list {
  margin-top: 40px;
  list-style: none;
}

.nav__item:not(:first-child) {
  margin-top: 24px;
}

.nav__link {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #303030;
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #FF6C00;
}

.mob-menu__cont {
  margin-top: 64px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.button-order--mob {
  margin-top: 24px;
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-order--mob:hover, .button-order--mob:focus {
  background-color: #FF6C00;
  color: #FFFFFF;
}

.social__list--mob {
  margin-top: 64px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social__link--mob {
  font-size: 14px;
}

.social__item--mob:not(:first-child) {
  margin-top: 24px;
  margin-left: 60px;
}

.hero {
  background-image: url("/images/hero/hero-bcg-tab-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__container {
  position: relative;
  padding-top: 208px;
  height: 580px;
}

.hero__label {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.hero__title {
  margin-top: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.05em;
  font-family: "Raleway";
  color: #ffffff;
}

.hero__text {
  line-height: 1.6;
  width: 306px;
  color: #9da4bd;
}

.about__label::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  display: inline-block;
  background-color: #303030;
}

.about__title {
  font-size: 28px;
}

.about__text {
  line-height: 1.36;
  color: #555555;
}

.button-order--about {
  margin-top: 50px;
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-order--about:hover, .button-order--about:focus {
  background-color: #FF6C00;
  color: #FFFFFF;
}

.prices {
  background-color: #111319;
  background-image: url(../../images/prices/bcg-prices-mob.png);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.prices__container {
  text-align: center;
}

.prices__label {
  color: rgba(157, 164, 189, 0.6);
}

.prices__label::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  display: inline-block;
  background-color: rgba(157, 164, 189, 0.6);
}

.prices__title {
  color: #ffffff;
}

.prices__list {
  list-style: none;
  margin-top: 44px;
  padding: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  outline: 1px dashed red;
}

.prices__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 6px;
  font-size: 14px;
  line-height: 2.14;
  color: #9da4bd;
}

.prices__item span:first-child {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.prices__item::before {
  content: "";
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: rgba(157, 164, 189, 0.12);
}

.prices__item:not(:first-child) {
  margin-top: 20px;
}

.button-prices {
  margin-top: 50px;
  color: #FFFFFF;
  -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-prices:hover {
  background-color: #FF6C00;
}

.benefits__label::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  display: inline-block;
  background-color: #303030;
}

.benefits__text {
  font-size: 18px;
  line-height: 1.67;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 44px;
  list-style: none;
  outline: 1px dashed green;
}

.benefits__item {
  padding: 20px 28px;
  width: 194px;
  height: 133px;
  background-color: #F7F7F7;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  line-height: 1.36;
  letter-spacing: 0.05em;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.benefits__item:nth-child(2n+1) {
  margin-right: 30px;
  margin-bottom: 30px;
}

.benefits__qty {
  position: relative;
  font-size: 42px;
  font-weight: 700;
}

.benefits__qty::after {
  content: "+";
  color: #FF6C00;
  width: 13px;
  height: 22px;
  font-size: 13px;
  font-weight: 600;
  position: absolute;
  top: 10px;
}

.team {
  background-color: #F7F7F7;
}

.team__label::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  display: inline-block;
  background-color: #303030;
}

.team__list {
  margin-top: 44px;
  list-style: none;
}

.team__item:not(:first-child) {
  margin-top: 64px;
}

.master {
  outline: 1px dashed blue;
}

.master__name {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
}

.master__descr {
  margin-top: 8px;
  text-align: center;
  color: #FF6C00;
}

.join-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

.join-me__link {
  color: #303030;
  background-color: #FFFFFF;
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-me__link:hover, .join-me__link:focus {
  color: #FF6C00;
}

.facts__label::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  display: inline-block;
  background-color: #303030;
}

.facts__list {
  margin-top: 44px;
  list-style: none;
}

.facts__item:not(:first-child) {
  margin-top: 30px;
}

.reg {
  background-color: #191C26;
  color: #FFFFFF;
}

.reg__container {
  text-align: center;
}

.reg__title {
  margin-top: 0;
  text-align: center;
  color: #FFFFFF;
}

.reg__field {
  position: relative;
  margin-top: 44px;
}

.reg__label {
  position: absolute;
  top: -10px;
  left: 0;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.reg__input {
  width: 100%;
  padding: 8px 4px;
  background-color: #191C26;
  color: #FFFFFF;
  outline: #191C26;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}

.reg__textarea {
  width: 100%;
  padding: 8px 4px;
  resize: none;
  background-color: #191C26;
  color: #FFFFFF;
  outline: #191C26;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}

.button-send {
  margin-top: 44px;
  color: #FFFFFF;
  background-color: transparent;
}

.contacts {
  background-color: #191C26;
  background-image: url(../../images/footer/bcg-footer-tab.png);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.contacts__main {
  padding-bottom: 0;
}

.contacts__title {
  margin-top: 0;
  text-align: center;
  color: #FFFFFF;
}

.address__list {
  list-style: none;
  margin-top: 40px;
}

.contacts__time {
  padding-top: 0;
  margin-top: 44px;
}

.contacts__label {
  color: rgba(157, 164, 189, 0.6);
}

.contacts__label::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  display: inline-block;
  background-color: rgba(157, 164, 189, 0.6);
}

.address__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.contacts__icon {
  margin-right: 16px;
}

.footer {
  padding: 44px 31px;
}

.footer__container {
  padding: 0;
}

.footer__copyr {
  margin-top: 20px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.2em;
  color: #9DA4BD;
}/*# sourceMappingURL=main.css.map */