.benefits {
  @extend .section;
}

.benefits__container {
  @extend .container;

  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
}

.benefits__top {
    @media screen and (min-width: 768px) {
    width: 500px;
  }
}

.benefits__label {
  @extend .label;
}

.benefits__label::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  display: inline-block;
  background-color: $color-primary;
}

.benefits__title {
  @extend .section__title;
}

.benefits__text {
  @extend .text;

  font-size: 18px;
  line-height: 1.67;
}

.benefits__list {
  margin-top: 44px;
  list-style: none;

  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 418px;
    margin-left: auto;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 0;
    margin-top: 0;
  }
}

.benefits__item {
  padding: 20px 28px;
  width: 194px;
  height: 133px;
  background-color: #f7f7f7;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  line-height: 1.36;
  letter-spacing: 0.05em;

  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.benefits__item:not(:first-child) {
  @media screen and (max-width: 479px) {
    margin-top: 30px;
  }
}

.benefits__item:nth-child(2n + 1) {
  @media screen and (min-width: 480px) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.benefits__qty {
  position: relative;
  font-size: 42px;
  font-weight: 700;
}

.benefits__qty::after {
  content: "+";
  color: #ff6c00;
  width: 13px;
  height: 22px;
  font-size: 13px;
  font-weight: 600;

  position: absolute;
  top: 10px;
}
