// .facts {
//   @extend .section;
// }

.facts__container {
  @extend .container;
}

.facts__label {
  @extend .label;
}

.facts__label::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  display: inline-block;
  background-color: $color-primary;
}

.facts__list {
  margin-top: 44px;
  list-style: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.facts__item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1279px) {
    width: calc((100% - 30px * 3) / 4);
  }
}

.facts__item:not(:first-child) {
  margin-top: 30px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}
