.footer {
   padding: 44px 31px;
}

.footer__container {
   @extend .container;
   padding: 0;
}



.footer__copyr {
   margin-top: 20px;
   font-size: 11px;
   font-weight: 600;
   letter-spacing: 0.2em;
   color: #9DA4BD;
}