.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 100;
}

.page-header__container {
  @extend .container;

  @media screen and (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;

    display: flex;
    align-items: center;
  }
}

.logo__link {
  display: inline-block;
  color: $color-bcg;
  transition: color $duration $timing-function;

  &:hover, &:focus-visible
    {
      color: $color-accent;
    }
}

nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__item {
  margin-left: 24px;
  
  @media screen and (min-width: 1280px) {
    margin-left: 40px;
  }
}

.nav__link {
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;
  text-decoration: none;
  color: $color-bcg;
  transition: color $duration $timing-function;

  &:hover, &:focus {
    color: $color-accent;
  }
}

.mobile-menu-button {
  position: absolute;
  padding: 0;
  top: 46px;
  right: 39px;
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.button-order--header {
  @extend %button;
  margin-left: auto;
  color: $color-bcg;

  transition: background-color $duration $timing-function;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}
