.hero {
  @extend .section;
  background-image: url("/images/hero/hero-bcg-tab-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__container {
  position: relative;
  @extend .container;
  padding-top: 208px;

  height: 580px;
  
}



.hero__label {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.6);
}

.hero__title {
  margin-top: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.05em;
  font-family: "Raleway";
  color: #ffffff;
}

.hero__text {
  @extend .text;
  line-height: 1.6;
  
  width: 306px;
  color: #9da4bd;
}
