.hero {
  // @extend .section;

  

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (max-width: 480px) {
    background-color: $color-bcg-secondary;
    background-image: url("../images/hero/slider3_sm.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../images/hero/slider3_sm@2x.jpg");
    }
  }

  
}



.hero__container {
  position: relative;
  @extend .container;
  padding: 0;
  

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (max-width: 480px) {
    height: 580px;
   }


  @media screen and (min-width: 481px)  {
    height: 680px;
      display: flex;
      
      

      // background-color: $color-bcg-secondary;
      // background-image: url("../images/hero/slider3_md.jpg");
  
      // @media (min-device-pixel-ratio: 2),
      // (min-resolution: 192dpi),
      // (min-resolution: 2dppx) {
      //   background-image: url("../images/hero/slider3_md@2x.jpg");
      // }
    }

  @media screen and (min-width: 1280px) {
    background-color: $color-bcg-secondary;
    background-image: url("../images/hero/slider3_lg.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../images/hero/slider3_lg@2x.jpg");
    }
  }
}

.hero__sidebar {
  // height: 100%;

  @media screen and (max-width: 480px) {
    display: none;
  }

  @media screen and (min-width: 481px) {
    width: 159px;
  }

}

.hero__left-wrap {
  position: relative;
  width: 100%;
  
  
  background-color: $color-bcg-secondary;
}

.hero__titlebox {
  @media screen and (min-width: 481px) {
      position: absolute;
      left: 120px;
      top: 270px;
    }

}

.hero__label {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.6);
}

.hero__title {
  margin-top: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.05em;
  font-family: "Raleway";
  color: #ffffff;
}

.hero__text {
  @extend .text;
  line-height: 1.6;

  width: 306px;
  color: #9da4bd;
}
