.prices {
  @extend .section;
  background-color: #111319;
  background-image: url(../../images/prices/bcg-prices-mob.png);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.prices__container {
  @extend .container;
  text-align: center;
}

.prices__label {
  @extend .label;
  color: rgba(157, 164, 189, 0.6);
}

.prices__label::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  display: inline-block;
  background-color: rgba(157, 164, 189, 0.6);
}

.prices__title {
  @extend .section__title;
  color: #ffffff;
}

.prices__list {
  list-style: none;
  margin-top: 44px;
  padding: 30px;

  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  outline: 1px dashed red;
}

.prices__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 6px;
  font-size: 14px;
  line-height: 2.14;
  color: #9da4bd;
}

.prices__item span:first-child {
  order: -1;
}

.prices__item::before {
  content: '';
  height: 1px;
  flex-grow: 1;
  background-color: rgba(157, 164, 189, 0.12);
}

.prices__item:not(:first-child) {
  margin-top: 20px;
}

.button-prices {
  @extend %button;
  margin-top: 50px;
   
  color: $color-bcg;

  transition: background-color $duration $timing-function;
  
    &:hover {
      background-color: $color-accent;
      
    }
}
