.reg-contacts {
  //   @extend .section;
  background-color: #191c26;
  color: #ffffff;

  @media screen and (min-width: 1280px) {
    display: flex;
  }
}

.reg__container {
  @extend .container;
  text-align: center;

  @media screen and (min-width: 1280px) {
    // max-width: 1280px;
    padding: 130px 50px;
    margin-right: 0;
    width: 640px;
  }
}

.reg__title {
  @extend.section__title;
  margin-top: 0;
  text-align: center;
  color: #ffffff;
}

.reg__required {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 30px;
  }
}

.reg__field {
  position: relative;
  margin-top: 44px;
  flex-grow: 1;
}

.reg__label {
  position: absolute;
  top: 4px;
  left: 8px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transform: translateY(0);
  transition: transform $duration $timing-function;
}
.reg__input {
  width: 100%;
  padding: 8px 4px;

  background-color: #191c26;
  color: #ffffff;
  outline: #191c26;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);

  &::placeholder {
    color: transparent;
    transition: color $duration $timing-function;
  }

  &:hover::placeholder,
  &:focus::placeholder {
    color: rgba(157, 164, 189, 0.4);
  }

  &:hover + .reg__label,
  &:focus + .reg__label,
  &:not(:placeholder-shown) + .reg__label {
    transform: translateY(-24px);
  }
}

.reg__textarea {
  width: 100%;
  padding: 8px 4px;
  resize: none;
  background-color: #191c26;
  color: #ffffff;
  outline: #191c26;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);

  &::placeholder {
    color: transparent;
  }

  &:hover + .reg__label,
  &:focus + .reg__label,
  &:not(:placeholder-shown) + .reg__label {
    transform: translateY(-24px);
  }
}

.button-send {
  @extend %button;
  margin-top: 44px;
  color: #ffffff;
  background-color: transparent;
  transition: background-color $duration $timing-function;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}
