$color-primary: #303030;
$color-secondary: #555555;
$color-accent: #FF6C00;
$color-bcg: #FFFFFF;
$color-bcg-secondary: #191C26;
$color-bcg-accent: #F7F7F7;

$duration: 300ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$font-basic: 'Open Sans', sans-serif;
$font-title: 'Raleway', sans-serif;

